services:
  # 1. Redis Database
  synapse-redis:
    image: redis:alpine
    container_name: synapse-redis
    ports:
      - 6379:6379
    restart: always
    networks:
      - synapse-net
  
  # 2. .NET API Server
  synapse-server:
    # build:
    #     context: .
    #     dockerfile: Synapse.Server/Dockerfile
    image: synapse-server:latest
    container_name: synapse-server
    ports:
      - 5241:8080
    restart: unless-stopped
    depends_on: 
      - synapse-redis
    environment:
      - SYNAPSE_REDIS_CONNECTION=redis:6379
      - ASPNETCORE_ENVIRONMENT=Production
    networks:
      - synapse-net

  # gateway (nginx), client (unity), visual (prometheus + grafana), etc.

networks:
  synapse-net:
    driver: bridge